<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WeatherLady Forecast</title>
    <link rel="stylesheet"
          th:href="@{/css/weatherlady.css}"/>
</head>
<body>

<h3>Location Coordinates Form</h3>

<form th:action="@{/processLocationForm}" th:object="${location}" method="POST">

    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude" name="latitude" th:field="*{latitude}" required><br><br>
    <span th:if="${#fields.hasErrors('latitude')}"
          th:errors="*{latitude}"
          class="error"></span>

    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude" name="longitude" th:field="*{longitude}" required><br><br>
    <span th:if="${#fields.hasErrors('longitude')}"
          th:errors="*{longitude}"
          class="error"></span>

    <br><br>

    Time:
    <label>
        <select th:field="*{timeType}">
            <option th:each="timeOption : ${T(com.JavaCZSKRemote.WeatherLady.model.TimeType).values()}"
                    th:value="${timeOption}"
                    th:text="${timeOption.description}">
            </option>
        </select>
    </label>
    <br><br>

    Language:
    <label>
        <select th:field="*{timeType}">
            <option th:each="tempLanguage : ${languages}"
                    th:value="${tempLanguage}"
                    th:text="${tempLanguage}">
            </option>
        </select>
    </label>
    <br><br>

    Unit of measurement:
    <label>
        <div th:each="unit : ${T(com.JavaCZSKRemote.WeatherLady.model.UnitSystem).values()}">
            <input type="radio"
                   th:field="*{unitSystem}"
                   th:value="${unit}"
                   th:id="${unit}"/>
            <label th:for="${unit}" th:text="${unit.description}"></label>
        </div>
    </label>
    <br><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>