<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WeatherLady Forecast</title>
    <link rel="stylesheet"
          th:href="@{/css/weatherlady.css}"/>
</head>

<body>
    Welcome to my weather forecast application
    <br><br>
<p th:text="'Time on the server is ' + ${theDate}" class="server-time"></p>
    <br>
Latitude: <span th:text="${param.latitude}"></span>
Longitude: <span th:text="${param.longitude}"></span>
    <br><br>
The message: <span th:text="${message}"></span>

</body>
</html>