<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WeatherLady Forecast</title>
</head>

<body>
<!--
<form method="GET" th:action="@{/processForm}">
    <input type="text" name="latitude" placeholder="Please enter latitude"/>
    <input type="text" name="longitude" placeholder="Please enter longitude"/>
    <input type="submit" value="Submit"/>
</form>
-->
<form method="GET" th:action="@{/processFormVersionTwo}">
    <input type="text" name="latitude" placeholder="Please enter latitude"/>
    <input type="text" name="longitude" placeholder="Please enter longitude"/>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>